:root {
  --primary-color: #212121;
  --text-color: #757575;
  --selection-color: #2196f3;
  --background-color: #2f303a;
  --hero-font-color: #ffffff;
  --footer-logo-address-color: rgba(255, 255, 255, 1);
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --our-team-background-color: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: var(--primary-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* HEADER */

.header > .container {
  display: flex;

  margin: 0 auto;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-color);
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.blue-element {
  color: #2196f3;
}

.list {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 46px;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 371px;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--selection-color);
}
.contacts-list {
  display: flex;
  gap: 50px;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-tel-link,
.header-mail-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--selection-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--selection-color);
}

/* HERO */

.hero {
  color: var(--hero-font-color);
  background-color: var(--background-color);
  padding: 94px;
}

.hero-head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  padding-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--selection-color);
  border: none;
  color: var(--hero-font-color);
  cursor: pointer;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 41px;
  padding-left: 42px;
  display: flex;
  justify-content: center;
}

/* OUR ASSETS */

.our-assets {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-assets > .container {
  margin: 0 auto;
}

.our-assets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.our-assets-item {
  flex-basis: calc((100% - 90px) / 4);
}
.our-assets-item p {
  margin-top: 10px;
}

.our-assets-text-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
}

.our-assets-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* CZYM SIĘ ZAJMUJEMY */

.our-profession {
  padding-bottom: 94px;
}

.our-profession > .container {
  margin: 0 auto;
}

.our-profession-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  padding: 0;
}
.our-profession-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 0 auto;
}

/* NASZ ZESPÓŁ */

.our-team-section {
  background-color: var(--our-team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-section .container {
  margin: 0 auto;
}

.our-team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 0 auto 50px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.our-team-list-item {
  flex-basis: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  text-align: center;
  margin: 30px 99px 10px 99px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 30px;
}

/* FOOTER */

.footer {
  background-color: var(--background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  margin: 0 auto;
  width: 1200px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-logo-address-color);
  text-decoration: none;
  padding-bottom: 20px;
  display: flex;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo-address-color);
  padding-bottom: 9px;
}
.agency-footer-mail {
  padding-bottom: 9px;
}
.footer-tel-link,
.agency-footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-links-color);
}

.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--selection-color);
}

.agency-footer-mail:hover,
.agency-footer-mail:focus {
  color: var(--selection-color);
}

/* PORTFOLIO FILTERS */

.filters-section {
  border-top: 1px solid #ececec;
}

.filters-btn-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.filters-section .container {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.filters-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--selection-color);
  color: var(--hero-font-color);
}

/* PROJECTS */

.projects-section {
  padding-bottom: 94px;
}

.projects-section .container {
  margin: 0 auto;
  display: flex;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.projects-list-item {
  display: flex;
  flex-basis: calc((100%-60px) / 3);
}

figure {
  border: 1px solid #eeeeee;
  margin-top: 30px;
}

.projects-pic-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin: 20px 24px 4px 24px;
}

.projects-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 24px 20px 24px;
}

/*PORTFOLIO FOOTER */

.portfolio-footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--footer-links-color);
}

.portfolio-footer-mail:hover,
portfolio-footer-mail:focus {
  color: var(--selection-color);
}
